<%= form_for [:admin, @user] do |f| %>
<section class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>
</section>
 
<section class="form-group">
  <%= f.label :password %>
  <%= f.text_field :password, class: "form-control" %>
</section>
  
<section class="form-group">
  <%= f.button :submit, class: "btn btn-primary" %>
</section>
<% end %>