
<html>
<head>
<title>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    Ticketee
  <% end %>
</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #F2F2F2;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <section class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"><%= link_to 'Ticketee', projects_path, class: 'navbar-brand' %></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?("/") %>">
          <%= link_to "Home", root_path %>
        </li>
        <% only_admin do %>
          <li class="<%= "active" if current_page?("/admin") %>">
            <%= link_to "Admin", admin_root_path %>
          </li>
        <%end%>
        <% unless user_signed_in? %>
          <li><%= link_to "Registrate", new_user_registration_path %></li>
          <li><%= link_to "Inicia session", new_user_session_path %></li>
        <%end%>
          <% if user_signed_in? %> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Editar cuenta", edit_user_registration_path %></li>
            <li><%= link_to "Cerrar session", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <%end%>
      </ul>
      </section>
  </div><!-- /.container-fluid -->
</nav>

<section class="container" id="container-body">
<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<% only_admin do %>  
  <%= link_to "New Project", new_admin_project_path %>
<%end%>

<%= yield %>
</section>
</body>
</html>
